body {
  color: blue;
  h1 {
    color: black;
  }
  p {
    background: yellow;
    font-size: 19px;
    font-weight: 600;
		margin: 0 auto;
    max-width: 1000px;
  }
	ul {
		color: gold;
		font-size: 20px;
		list-style: none;
	}
} 