<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Component</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/vue.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="sample">
      <form v-if="!submited" @submit.prevent="submited = !submited">
        <div class="progress">
          <div class="progress-bar" :style="width"></div>
        </div>
        <app-input
             v-for="(item, index) in info"
             :key="index"
             :name="item.name"
             :pattern="item.pattern"
             :val="item.val"
             @oninput="onMyInput(index, $event)"
             ></app-input>
        <div class="form-group">
          <button class="btn btn-primary" :disabled="this.sum != this.controls.length">
            Send Data
          </button>
        </div>
      </form>
      <div v-else>
        <table class="table table-bordered">
          <tr v-for="(item, index) in info">
            <td>{{ item.name }}</td>
            <td>{{ item.val }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script>
    Vue.component('appInput', {
      props: ['name', 'val', 'pattern'],
      data() {
        return {
          activated: this.val != ''
        }
      },
      template: `
        <div class="form-group">
          <label>{{ name }}</label>
          <span class="fas" :class="getClass" v-if="activated"></span>
          <input type="text" :name="name" class="form-control"
                 :value="val"
                 @input="onMyInput">
        </div>
      `,
      methods: {
        onMyInput(e) {
          this.activated = true;
          this.$emit('oninput', {
            value: e.target.value
          })
        }
      },
      computed: {
        getClass() {
          return !this.pattern.test(this.val) ? 'fa-times-circle text-danger' : 'fa-check-circle text-success';
        }
      }
    })
    
    let app = new Vue({
      el: '.sample',
      data: {
        info: [{
            name: 'Name',
            val: 'Evgeniy',
            pattern: /^[a-zA-Z ]{2,30}$/
          },
          {
            name: 'Phone',
            val: '',
            pattern: /^[0-9]{6,10}$/
          },
          {
            name: 'Email',
            val: '',
            pattern: /.+/
          },
          {
            name: 'Some',
            val: '',
            pattern: /.+/
          },
          {
            name: 'Some1',
            val: '',
            pattern: /.+/
          }
        ],
        controls: [],
        sum: 0,
        submited: false
      },
      beforeMount() {
        for (let i = 0; i < this.info.length; i++) {
          this.controls.push({
            error: !this.info[i].pattern.test(this.info[i].val)
          })
        }
      },
      methods: {
        onMyInput(index, data) {
          this.info[index].val = data.value;
          this.controls[index].error = !this.info[index].pattern.test(this.info[index].val);
          //console.log(data);
        }
      },
      computed: {
        width() {
          let sum = 0;

          for (let i = 0; i < this.controls.length; i++) {
            if (!this.controls[i].error) sum++;
          }
          this.sum = sum;
          return {
            width: (sum / this.controls.length * 100) + '%'
          }
        }
      }
    });
  </script>
</body>

</html>